* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #000;
  color: #fff;
  font-family: "gal-gothic-variable", sans-serif;
  font-variation-settings: "wght" 400;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

h1,
h2 {
  font-family: "marlide-display-variable", serif;
  font-variation-settings: "wght" 300;
  margin: 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

img {
  vertical-align: bottom;
  border-radius: 36px;
  max-width: 100%;
}

.container {
  width: min(100% - 2rem, 1200px);
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
}

header > div {
  font-size: 1.5rem;
}

header nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

@media only screen and (min-width: 480px) {
  header nav ul {
    gap: 3rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.badges {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 480px) {
  .badges {
    flex-direction: row;
  }
}

.badge {
  border-radius: 99999px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  padding: 0.5rem 0.75rem;
  justify-content: center;
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
}

.hero img {
  width: 100%;
}

@media only screen and (min-width: 860px) {
  .hero {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }

  .hero img {
    width: 40%;
  }
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.hero-subline {
  text-transform: uppercase;
  color: #ff007a;
  letter-spacing: 0.5rem;
}

.cta {
  display: inline-flex;
  height: 3.5rem;
  padding: 0rem 1.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.75rem;
  background: #ff007a;
}

.gallery {
}

.gallery h2 {
  padding: 0 0 1rem 0;
}

.gallery ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
}

@media only screen and (min-width: 480px) {
  .gallery ul {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media only screen and (min-width: 860px) {
  .gallery ul {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.gallery ul li {
}

.gallery ul li img {
  width: 100%;
}

.author {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 5rem;
}

.author h1 {
  padding: 0 0 3rem 0;
}

.author img {
  width: 100%;
}

.author article {
  width: 100%;
}

.author p {
  line-height: 1.5;
}

@media only screen and (min-width: 860px) {
  .author {
    flex-direction: row;
  }

  .author img {
    width: 40%;
  }

  .author article {
    width: 60%;
  }
}

.contact h2 {
  padding: 0 0 1rem 0;
}

.contact form {
  padding: 2rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 36px;
}

.contact input[type="text"],
.contact input[type="email"],
.contact input[type="tel"],
.contact input[type="url"],
.contact button[type="submit"],
.contact textarea {
  font-family: "gal-gothic-variable", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-variation-settings: "wght" 400;
}

.contact input[type="text"],
.contact input[type="email"],
.contact input[type="tel"],
.contact input[type="url"],
.contact textarea {
  width: 100%;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
  border: 0;
  border-radius: 6px;
}

.contact input[type="text"]:hover,
.contact input[type="email"]:hover,
.contact input[type="tel"]:hover,
.contact input[type="url"]:hover,
.contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
}

.contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

.contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: 0;
  background: #ff007a;
  color: #fff;
  margin: 0;
  padding: 10px;
  font-size: 15px;
  border-radius: 6px;
}

fieldset {
  border: 0;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

.footer-bg {
  background: #1d1d1d;
}
footer {
  font-size: 1.5rem;
  padding: 3rem 0;
}
